*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 233, 228);
}
nav{
    width: 100%;
    background-color: rgb(231, 228, 228);
    padding: 1rem;
    margin-bottom: 2rem;
    #logo{
        font-size: 1.6rem;
        span{
            color: rebeccapurple;
        }
    }
}
#wrapper{
    width: 100%;
    #title{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .1rem;
        span{
            color: rgb(31, 108, 202);
        }
    }
    #title_p{
        text-align: center;
        padding: 1.5rem;
        color: lighten($color: #000000, $amount: 25);
    }
    #password_div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        text-align: center;
        #passord_space{
            background-color: #000000;
            color: #fff;
            padding: 1rem 2rem;
            border-radius: .3rem;
            font-size: 1.3rem;
            width: 20%;
            height: 3rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
        }
        #btns{
            margin-top: 2.2rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1.1rem;
            #gen_btn{
                cursor: pointer;
                padding: .9rem 1rem;
                font-size: 1rem;
                outline: none;
                border: none;
                background-color: rebeccapurple;
                border-radius: 3rem;
                color: rgba(255, 255, 255, 0.907);
                &:hover,&:focus{
                    background-color: darken($color: rebeccapurple, $amount: 10);
                }
            }
            #copy_btn{
                background-color: rgb(31, 108, 202);
                outline: none;
                border: none;
                color: rgba(255, 255, 255, 0.93);
                padding: .9rem 1rem;
                font-size: 1rem;
                border-radius: 3rem;
                letter-spacing: .1rem;
                cursor: pointer;
                &:hover,&:focus{
                    background-color: darken($color: rgb(31, 108, 202), $amount: 10);
                }
            }
        }
    }
    #password_length{
        margin-bottom: 1.2rem;
        text-align: center;
        width: 100%;
        #length_text{
            margin-bottom: 1rem;
            font-weight: lighter;
            font-size: .955rem;
        }
        #strength_and_btn{
            display: flex;
            align-items: center;
            justify-content: center;
            #length_wrapper{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 1.5rem;
                #length{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: 1.2rem;
                    .count_btn{
                        background-color: rebeccapurple;
                        width: 40px;
                        height: 30px;
                        font-size: 1.1rem;
                        font-weight: bold;
                        text-align: center;
                        outline: none;
                        border: none;
                        color: #fff;
                        border-radius: 2rem;
                        cursor: pointer;
                    }
                }

                div{
                    #quality{
                        color: rebeccapurple;
                        text-transform: uppercase;
                        
                    }
                }
            }
        }
    }
}

#information{
    background-color:rebeccapurple;
    padding:3.3rem 3rem  2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    #content{
        width: 80%;
        color: rgb(236, 233, 228);
        text-align: center;
        #big_text{
            margin: 3rem 0 ;
        }
        .content-text{
            padding-top: 1rem;
            width: 100%;
            margin: auto;
            h5{
                font-weight: bold;
                text-transform: uppercase;
                color: #000;
                font-size: 1rem;
                padding: 1rem 0;
                letter-spacing: .1rem;
            }
            p{
                width: 50%;
                margin: auto;
                text-align: center;
                color:darken($color: #fff, $amount: 16);
            }
        }
    }
}

footer{
    padding:  1rem 2rem;
    background-color:rgb(231, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .9rem;
    h4{
        color: rgb(31, 108, 202);
        letter-spacing: .1rem;
    }
}

@media screen and (max-width:530px) {
    
    #wrapper{
        #password_div{
            #passord_space{
                width: 80%;
            }
        }
    }

    #information{
        #content{
            width: 100%;
            .content-text{
                p{
                    width: 100%;
                }
            }
        }
    }

}


@media screen and (max-width:800px) {
    
    #wrapper{
        #title{
            width: 80%;
            margin: auto;
        }

        #password_div{
            #passord_space{
                width: 60%;
            }
        }
    }

    #information{
        #content{
            width: 100%;
            .content-text{
                p{
                    width: 80%;
                }
            }
        }
    }

}